
*body {
    box-sizing: border-box;
    margin: 0 auto;
  }
  footer {
   
    display: flex;
    justify-content: center;
    background-image: 
    linear-gradient(110deg, #f93d66, #6d47d9);
  }
  
  img {
    width: 200px;
    height: 150px;
    
    
  }
  
  ul {
    list-style: none;
  }
  nav {
    background-image: 
    linear-gradient(110deg, #f93d66, #6d47d9);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    
  }
  
  .main {
    width: 500px;
  }
  nav  ul{
    
    display: flex;
    gap: 20px;
    
  
  }
  
  
  .awesome {
    display:block;
    font-weight: bolder;
    font-size: 1.25rem;
  }
  #logos {
    width: 300px;
    height: 200px;
    
    padding-left: 1rem;
    padding-right: 1rem;
    float:right;
    
  
  }
  
  
  .header_section {
    background-image: 
      linear-gradient(110deg, #f93d66, #6d47d9);
      display: flex;
      justify-content: center;
      padding: 4rem;
  
  }
  .section1 {
  margin-left: auto;
  margin-right: auto;
  
  }
  
  .header_section section::after{
    content: "";
    clear: both;
    display: block;
  }
  .h2all {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .styled {
    border-radius: 7px;
    padding: .25rem;
    width: 90px;
    background-color: #33ccff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }
  
  .styled:hover {
    background-color: rgba(255, 0, 0, 1);
  }
  
  .styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
   
  
  }
    
  
  .photos {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 10px;
   
  }
    
  
  .images {
    border: 2px solid black;
    
  }
  figure{
   
    width: min-content;
    text-align: center;
  }
  
  
  
  
  
  
  .title {
    text-align: center;
  }
  
  .third_section {
    margin-top: 5rem;
    background:#6d47d9;
    display: flex;
    justify-content: center;
    
  }
  
  .third_sec {
    margin: 1rem
   
    
  }
  
  blockquote {
    font-size: 1.5rem;
    max-width: 700px;
    padding: 1rem;
  }
  
  .last_section {
    display: flex;
    
    justify-content: center;
    
  }
  
  .last {
    display: flex;
    border: 2px solid #33ccff;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #f93d66;
    margin: 5rem;
    justify-content: center;
    
  
  
  }
  
  .floats {
  float: right;
  margin: 1rem;
  
    
    
  }
  
  .last {
  display: flex;
  width: 700px;
  font-size: 1.25rem;
  
  
   
   
  }
  